<% if model.errors.any? %>
  <ul class="errors">
    <% model.errors.full_messages.each do |message| %>
      <li class="errors__message">
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
