.task {
  max-width: 700px;
  margin: 0 auto;
  &__container {
    display: flex;
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    .task__main {
      &--title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #F6B352;
      }
      &--goal_time {}
      &--description {
        font-size: 14px;
        line-height: 1.4em;
      }
    }
    &--done {
      display: block;
      font-size: 22px;
      font-weight: 700;
      color: #F68655;
      padding-left: 20px;
      margin-left: auto;
    }
  }
  &__form {
    &--title {
      display: block;
      width: calc(100% - 37px);
      padding: 15px 20px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
    }
    &--description {
      width: calc(100% - 37px);
      padding: 20px;
      height: 80px;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &--button {
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      background: #F6B352;
      margin: 0 auto;
      padding: 5px 30px;
    }
  }
}
